.formControl.error input,
.formControl.error textarea {
    border: solid wheat 2px;
}

.formControl.error span {
    color: wheat;
}

.formSummaryError {
    border: solid wheat 2px;
    padding: 5px;
    color: aqua;
}