.header {
    grid-area: h;
    background: darkorange;
}

.header img {
    width: 64px;
    height: 64px;
    padding-left: 10px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}